/* font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif; */
/* btn: background-color: #3EB489;
btn:hover background-color: #4dc99b; */

/* reset */
* {
    margin: 0;
}
/* prevent white border bounce on page scroll */
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

/* styles */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    z-index: 10;
    
}

.logo-container {
   flex: 1; 
}

.logo {
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    color: #3EB489;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#logo  {
    display: inherit;
    padding-right: 2px;
    
}

.logo:hover {
    color: #4dc99b;
}

.logo-first-word {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1px;
}

.logo-link, .logo-link:active, .logo-link:visited, .logo-link:visited {
 text-decoration: none;   
 color:#3EB489;
}
.logo-link:hover {
    color: #4dc99b;;
}

.menu-container {
    flex: 6; 
 }

 .menu-list {
    display: flex;
    list-style: none;
 }

 .menu-list-items {
     margin-right: 30px;
     font-weight: 400;
     cursor: pointer;
     transition: all 0.2s ease-in-out;
 }

 .menu-list-items:hover {
     border-bottom: 2.2px solid #3EB489;
     font-weight: bold;
 }

.active-nav-link {
    border-bottom: 2.2px solid #3EB489;
    font-weight: bold;
 }

 .menu-link, .side-link {
     text-decoration:none;
     color:white;
 }

 .menu-link:link, .menu-link:visited, .menu-link:hover, .menu-link:active,
 .side-link:link, .side-link:visited, .side-link:hover, .side-link:active {
     text-decoration: none;
 }
 
 .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
 }

 .profile-text-container {
     margin: 0 20px;
 }


 .profile-picture {
     width: 32px;
     border-radius: 50%;
     object-fit: cover;
 }

 .toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
 }

 .toggle-icon {
     color: goldenrod;
 }

 .toggle-node {
     width: 18px;
     height: 18px;
     background-color: black;
     position: absolute;
     right:1px;
     border-radius: 50%;
     transition: all 1s ease-in-out;
     cursor: pointer;
 }

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    z-index: 10;
    transition: all .5s ease-in-out;
}

.sidebar:hover {
    width: 90px;
    background: linear-gradient(to right bottom, rgba(0,0,0,0), #151515);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}

.sidebar-icons {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.container {
    background-color: #151515;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-container {
    margin-left: 50px; 
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px
}

.featured-description {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-btn {
    background-color: #3EB489;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.featured-btn:hover {
    background-color: #4dc99b;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    
}

.movie-list {
    display: flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    
}

img.movie-list-item-img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-btn {
    opacity: 1;
}

.movie-list-item-title {
    background-color: #333;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
    background: linear-gradient(to left bottom, rgba(0,0,0,0), #151515);
    border-radius: 10px;
}

.movie-list-item-description {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    opacity: 0;
    width: 230px;
    transition: all 1s ease-in-out;
    background: linear-gradient(to left bottom, rgba(0,0,0,0), #151515);
    border-radius: 10px;
}

.movie-list-item-btn {
    padding: 10px;
    background-color: #3EB489;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-btn:hover {
    background-color: #4dc99b;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.arrow:hover {
    opacity: 90%;
}

/* ======light mode========= */

.container.active {
    background-color: white;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black
}

.sidebar.active {
    background-color: white;
    color: black;
}

.sidebar-icons.active {
    color: black !important;
}

.sidebar.active:hover {
    width: 90px;
    background: linear-gradient(to right bottom, rgba(243, 240, 240, 0), #f8f8f8); 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.toggle.active {
    background-color: black;
}

.toggle-node.active{
    background-color: white;
    transform: translateX(-20px);
}

.menu-link.active {
    color:black;
}

.watchlist-container.active {
    background: url(img/white-gradient-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.watchlist-plus.active {
    color: black;
    opacity: 0.5;
}

.watchlist-header.active {
    color:black;
}

.watchlist-paragraph.active {
    color: black;
}

#series-movie-list-title.active {
    color:black;
}

.series-btn.active {
    color:white;
    background-color: black;
}

#search-title {
    color: white;
    margin-top: 60px;
}

/* ===================watchlist page=========== */

.watchlist-container {
    background: url(img/black-gradient.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.watchlist-plus {
    font-size: 80px;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: bottom;
}

.watchlist-plus:hover {
    opacity: 90%;
}

.watchlist-header {
    margin-top: 30px;
    margin-bottom: 1rem;
}

/* ===========series page================ */

.series-container {
    margin-top: 50px;
}

#series-movie-list-title {
    margin-top: 60px;
}

.series-btn-header-container {
    display: flex;
    
}

.series-btn {
    background-color: white;
    align-self: end;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

/* ==============search page=============== */
#search-input {
    width: 75%;
    font-size: 30px;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
    margin-left: -33px;
    border-bottom: 1px solid white;
    caret-color: white;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 55%; /* Firefox */
  }

  .search-feature {
      margin-bottom: -100px;;
  }

  .search-title {
      margin-top: 60px;
  }

  /* ===================watchlist page=========== */

.purchase-container {
    background: url(img/black-gradient.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.purchase-content-container {
    background-color: white;
    width: 600px;
    border-radius: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    margin-top: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
}



.card-img {
    width: 120px;
}

.payment-header {
    margin-top: 50px;
    margin-bottom: 10px;
}

.payment {
    align-self: flex-start;
    padding-bottom: 8px;
    font-weight: bold;
    
}

.amount-placeholder {
    align-self: flex-start;
}

#PayButton {
    padding: 10px;
    border-radius: 8px;
    background-color: #3EB489;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 22px;
}

#PayButton:hover {
    background-color: #4dc99b; 
}

#NameOnCard {
    padding: 8px;
    border-radius: 8px; 
    outline: none;
    border: 1px solid lightgray;
}

#ExpirationDate{
    padding: 8px;
    border-radius: 8px 0 0 8px; 
    border: 1px solid lightgray;
    
}

#SecurityCode {
    padding: 8px;
    border-radius: 0 8px 8px 0; 
    border: 1px solid lightgray;
}

#ZIPCode {
    padding: 8px;
    border-radius: 8px; 
    border: 1px solid lightgray;
}

.expr-security-container {
    display: flex;
    
}

.security-code-group, .expiration-date-group {
    flex: 1;
    position: relative;
}

.security-code-group, .zip-code-group {
    position: relative;
}



input:focus {
    outline: none;
}

#cvc {
    position: absolute;
    top: 53px;
    left: 272px;
    color: lightgray;
    cursor: pointer;
}

#zip-circle {
    top: 53px;
    bottom: 10px;
    left: 573px;
    position: absolute;
    color: lightgray;
    cursor: pointer;
}

#cvc:hover, #zip-circle:hover {
    color: rgb(126, 126, 126);
}

.label-m {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* ==========Media Queries=============== */
@media only screen and (max-width: 480px){
    .menu-container {
        display: none;
    }
    .featured-content {
        background-size: cover;
    }
    .featured-description {
        width: 255px;
        line-height: 22px;
        text-align: justify;
        
    }
    .movie-list-title {
        margin-top: 30px 3px;
    }
    .featured-btn {
        width: 100%;
    }
    .featured-title {
        width: 250px;
    }

    .watchlist-paragraph {
        width: 300px;
        text-align: center;
    }

    .watchlist-container{
        padding-left: 25px;
    }
    
    .purchase-content-container {
        width: 123px;
    }

    .purchase-container {
        margin-left: 20px;
    }

    .amount-placeholder {
        align-self: center;
    }

    .expr-security-container {
        display: inline-block;
    }

    #search-input {
        width: 110%;
    }
}

@media only screen and (max-width: 940px){
    .menu-container {
        display: none;
    }
}